body{
    margin: 0;
    background-color: #222;
}

.contenedor{
    width: 100%;
    height: 100vh;
    display: flex;
}

.contenedor-izq{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-der{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}